{{ define "main" }}
<article class="flex-l mw9 center ph3-l" style="position: relative; z-index: 2;">
    <!-- TOC Section - Left Column -->
    <aside class="w-20-l w-100 pr3-l order-1 toc-card">
        <div class="bg-white pa3 br2 shadow-4 sticky top-2">
            <h3 class="mt0 mb3">Contents</h3>
            {{ .TableOfContents }}
        </div>
    </aside>

    <!-- Main Content - Center Column -->
    <div class="w-55-l w-100 ph3-l order-2 nested-copy-line-height lh-copy">
        <div class="mw7 center">
            {{ .Content }}
        </div>
    </div>

    <!-- Profile Section - Right Column -->
    <aside class="w-25-l w-100 pl3-l order-3">
        <div class="profile-card sticky top-2 bg-white pa3 br2 shadow-4">
            <div class="circle-mask mb3">
                <img src="https://lucasaguiarxyzstorage.blob.core.windows.net/images/lucas-perfil-2022.jpg"
                    alt="Lucas Aguiar" class="w-100">
            </div>
            <div class="social-links flex flex-column">
                <a href="https://github.com/isfttr" class="link black hover-blue dib mv2" target="_blank"><i
                        class="fab fa-github mr2"></i>GitHub</a>
                <a href="https://linkedin.com/in/lucas-fernandes-aguiar" class="link black hover-blue dib mv2"
                    target="_blank"><i class="fab fa-linkedin mr2"></i>LinkedIn</a>
                <a href="https://buymeacoffee.com/lucasaguiar" class="link black hover-blue dib mv2" target="_blank"><i
                        class="fa-solid fa-coffee mr2"></i>Buy
                    Me a Coffee</a>
            </div>
            <p class="mt3">Hi, my name is Lucas Fernandes Aguiar, brazilian chemist, specialized in
                intellectual property, currently working at Ministério da Saúde (MS) and as
                a PhD student at the Ceramic Materials and Nanotechnology Laboratory (LMCNano/FT/UnB).</p>
        </div>
    </aside>
</article>
{{ end }}