{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
   <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <section class="flex-ns justify-around mt5" style="display: flex; flex-wrap: nowrap; overflow-x: auto; white-space: nowrap;">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white" style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}