{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form action="https://formspree.io/f/xgeglgop" method="POST">
  <label>
    <input type="email" name="email" placeholder="Your e-mail address">
  </label>
  <hr>
  <label>
    <textarea rows="10" cols="50" name="message" placeholder="Type your message here..."></textarea>
  </label>

  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>

<style>
  /* Some nice boilerplate CSS to tidy up your form */
  form {
    display: block;
    /* grid-template-columns: max-content 1fr; */
    grid-gap: 10rem;
    /* Keep grid-gap for spacing */
    text-align: center;
    padding: 2rem 0;
    margin: 0;
  }

  form label {
    display: contents;
  }

  form input[type="email"],
  form textarea {
    width: 100%;
  }

  form button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid currentColor;
    background: none;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
  }

  form textarea {
    resize: vertical;
  }

  form button {
    justify-self: center;
    border-radius: 10px;
  }
</style>