/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a {
  overflow-wrap: break-word;
}

.nested-copy-line-height {
  font-family: sans-serif;
  line-height: 1.6;
}

#TableOfContents ul {
  list-style: none;
  padding: 0;
}

#TableOfContents li {
  padding: 0.5em 0;
}

#TableOfContents a {
  font-family: sans-serif;
}

.circle-mask {
  width: 150px;
  height: 150px;
}